{% extends 'base_front.html.twig' %}


{% block body %}

<title>Récapitulatif de swap</title>

<style>
    body {
        background-color: #ECECEC; 
    }
    
    .box{
        border-radius: 10px;
        background-color: white; 
    }

    .childbox {
        width: 85%;
        height: auto;
        margin-bottom: 50px;
    }

    .swap-arrow {
        width:auto;
        display: flex;
        align-items: center;
        align-content: center;
    }

    .container {
        margin-bottom: 30px
    }

    .font-style-title{
        font-size: 2.5em;
        margin-top: 10px;
        text-align: center;
        width: 100%;
        color: #FF5D19;
        font-weight: 700;
    }

    .text-wrap-title{
        width: 100%;
    }

    .card {
        border-radius: 10px;
    }

    .col-sm {
        margin: 45px
    }

    .card-img-top {
        border-radius: 10px 10px 0 0;
    }

    h3, h4, h5, h6, h7 {
        color: #FF5D19;
    }
</style>

<div class="container" style="display: flex; margin-top: 25px; flex-wrap: wrap; justify-content: center;">
    
    <div class="box" style="display: flex; flex-wrap: wrap; justify-content: center;">
        <div class="text-wrap-title">
            <p class="font-style-title">Récapitulatif de swap</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="background-color: #FFD7C5;">
                        <img class="card-img-top" src="//images.igdb.com/igdb/image/upload/t_cover_big/{{ igdb.getGameCovers(game.getId) }}.jpg" alt="Card image cap">
                        <div class="card-body d-flex flex-nowrap">
                            <div class="card-text d-flex flex-wrap">
                                <h5 style="width: 100%;">{{game.getName}}</h5>
                                <h6 style="width: 100%;">{{igdb.getGenres(game.getId)}}</h6>
                                <h7 style="width: 100%;">{{game.getFirstReleaseDate|format_datetime('short', 'none', locale='fr')}}</h7>
                            </div>
                            <div class="card-text"><h4>PS5</h4></div>
                        </div>
                    </div>
                    <div style="text-align: center; width: 100%;">
                        <h4 style="margin: 10px;">Jeu de {{owner.getUsername|capitalize}}</h4>
                    </div>
                </div>

                <div class="col-sm d-flex justify-content-center">
                    <div class="swap-arrow"><img src="https://i.ibb.co/YTd3MGV/swap-arrow.png" alt="swap-arrow.png"></div>
                </div>

                <div class="col-sm">
                    <div class="card" style="background-color: #FFD7C5;">
                        <img class="card-img-top" src="//images.igdb.com/igdb/image/upload/t_cover_big/{{ igdb.getGameCovers(gameSelected.getId) }}.jpg" alt="Card image cap">
                        <div class="card-body d-flex flex-nowrap">
                            <div class="card-text d-flex flex-wrap">
                                <h5 style="width: 100%;">{{ gameSelected.getName}}</h5>
                                <h6 style="width: 100%;">{{igdb.getGenres(gameSelected.getId)}}</h6>
                                <h7 style="width: 100%;">{{ gameSelected.getFirstReleaseDate|format_datetime('short', 'none', locale='fr') }}</h7>
                            </div>
                            <div class="card-text"><h4>PS5</h4></div>
                        </div>
                    </div>
                    <div style="text-align: center; width: 100%;">
                        <h4 style="margin: 10px;">Ton jeu</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end" style="width: 100%;">
            <a href="{{ path('validate_swap', {'user': user.getId, 'selected_game': gameSelected.getId, 'ownerGame': game.getId, 'owner': owner.getId} ) }}" type="button" class="btn btn-primary btn-lg" style="background-color: #FF5D19; margin: 15px; border-radius: 10px; border-color:#FF5D19">
                Envoyer la demande de swap
            </a>
        </div>
    </div>
</div>



{% endblock %}
