{% extends 'base_front.html.twig' %}

{% block body %}

<title>Profil utilisateur</title>


<style>
    body {background-color: #ECECEC; }
    .left-container{
        width: 25%;
        border-radius: 5px;
        background-color: white;
    }
    .swap-number{
        border-radius: 5px;
    }
    .right-container{
        width: 70%;
        margin-left: 3%;
        display: flex;
    }
    .games-owned-list{
        width: 50%;
        border-radius: 5px;
        background-color: white;
        height: 669px;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
    }
    .games-wish-list{
        width: 50%;
        background-color: white;
        height: 669px;
        border-radius: 5px;
        margin-left:25px;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
    }
    .font-style{
        font-size: 24px;
        margin-left: 15px;
        color: #29647C;
    }
    .text-wrap{
        width: 66%;
        margin-top: 7%;
    }
    .vector-wrap{
        width: 30%;
        margin-top: 3%;
        text-align: center;
    }

    .element-list-wish{
        height: 80px;
        width: 410px;
        border-radius: 5px;
        display: flex;
        font-size: 20px;
        font-weight: 600;
        background-color: rgba(255, 93, 25, 0.3);
        justify-content: center;
        align-items: center;
    }
    .element-list-owned{
        height: 80px;
        width: 410px;
        border-radius: 5px;
        background-color: rgba(212, 224, 229, 0.6);
        display: flex;
        font-size: 20px;
        font-weight: 600;
        justify-content: center;
        align-items: center;
    }
    .title-game-wrapper{
        width: -webkit-fill-available;
        display: flex;
        height: fit-content;
    }
    .pic-wrapper{ 
        margin-top: 25px;
        width: -webkit-fill-available;
        height: fit-content;
        display: flex;
        justify-content: center;
    }
    .swap-text{
        font-weight: 600;
        font-size: 96px;
        color: #FF5D19;
    }
    .swap-number{
        border-radius: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 59%;
    }
    .profile-text{
        font-weight: bold;
        font-size: 24px;
        color: #29647C;
    }
    .localisation-text{
        color: #FF5D19;
        font-size: 14px;
    }
</style>

<div class="container" style="display: flex; margin-top: 25px;">
    <div class="left-container">
        <div class="profile-card">
            <div class="pic-wrapper">
                <img src="https://i.ibb.co/4FpNQRb/user2.png"></img>
            </div>
            <div style="text-align: center; margin-top: 30px;">
                <p class="profile-text">{{ app.user.username }}<p>
            </div>
            <div style="text-align: center; margin-top: 30px;">
                <p class="localisation-text">Saint-Denis, France<p>
            </div>
        </div>
        <div class="swap-number">
            <p class="swap-text">5</p>
            <img style="width: 75px; height: 55px;" src="https://i.ibb.co/qkZq4bQ/swap.png">
        </div>
    </div>
    <div class="right-container">
        <div class="games-owned-list">
            <div class="title-game-wrapper">
                <div class="text-wrap">
                    <p class="font-style">Jeux possédés</p>
                </div>
                <div class="vector-wrap">
                    <img style="width: 60px;" src="https://i.ibb.co/QPnXBTj/check.png"></img>
                </div>
            </div>
            {% for ownGame in ownGames %}
            <div class="element-list-owned">
                <p>{{ ownGame.getName }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="games-wish-list">
            <div class="title-game-wrapper">
                <div class="text-wrap">
                    <p class="font-style">Jeux souhaités</p>
                </div>
                <div class="vector-wrap">
                    <img style="width: 60px;" src="https://i.ibb.co/Zxv6Jhd/favorite.png"></img>
                </div>
            </div>
            {% for wishGame in wishGames %}
            <div class="element-list-wish">
                <p>{{ wishGame.getName }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="text-wrap-title">
    <p class="font-style">Demande de swap en attente</p>
</div>
<div class="container">
{% for waitingExchange in waitingExchanges %}
    <div class="row">
        <div class="col-sm">
            <div class="card" style="background-color: #FFD7C5;">
                <img class="card-img-top" src="//images.igdb.com/igdb/image/upload/t_cover_big/{{ igdb.getGameCovers(waitingExchange.ownerGame.getId) }}.jpg" alt="Card image cap">
                <div class="card-body d-flex flex-nowrap">
                    <div class="card-text d-flex flex-wrap">
                        <h5 style="width: 100%;">{{waitingExchange.ownerGame.getName}}</h5>
                        <h6 style="width: 100%;">{{igdb.getGenres(waitingExchange.ownerGame.getId)}}</h6>
                        <h7 style="width: 100%;">{{waitingExchange.ownerGame.getFirstReleaseDate|format_datetime('short', 'none', locale='fr')}}</h7>
                    </div>
                    <div class="card-text"><h4>PS5</h4></div>
                </div>
            </div>
            <div style="text-align: center; width: 100%;">
                <h4 style="margin: 10px;">Ton jeu</h4>
            </div>
        </div>

        <div class="col-sm d-flex justify-content-center">
            <div class="swap-arrow"><img src="https://i.ibb.co/YTd3MGV/swap-arrow.png" alt="swap-arrow.png"></div>
        </div>

        <div class="col-sm">
            <div class="card" style="background-color: #FFD7C5;">
                <img class="card-img-top" src="//images.igdb.com/igdb/image/upload/t_cover_big/{{ igdb.getGameCovers(waitingExchange.game.getId) }}.jpg" alt="Card image cap">
                <div class="card-body d-flex flex-nowrap">
                    <div class="card-text d-flex flex-wrap">
                        <h5 style="width: 100%;">{{ waitingExchange.game.getName}}</h5>
                        <h6 style="width: 100%;">{{igdb.getGenres(waitingExchange.game.getId)}}</h6>
                        <h7 style="width: 100%;">{{ waitingExchange.game.getFirstReleaseDate|format_datetime('short', 'none', locale='fr') }}</h7>
                    </div>
                    <div class="card-text"><h4>PS5</h4></div>
                </div>
            </div>
            <div style="text-align: center; width: 100%;">
                <h4 style="margin: 10px;">Jeu de {{waitingExchange.UserProposer.getUsername|capitalize}}</h4>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}