{% extends 'base_front.html.twig' %}


{% block body %}

<title>Les jeux</title>

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .btn-wrapper{ display: flex; justify-content: center; align-items: center; }
        body {background-color: #ECECEC; }
        .card {border-radius: 20px; margin-left:20px; margin-top: 20px;}
        .card-container{ 
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            align-items: center;
        }
        .title-orange{
            color:#FF5D19; 
        }
        .align-text{
            text-align: center;
        }
    </style>
    <form style="margin-top: 10px;" role="search" class="d-flex" method="GET" action="{{ path('search') }}">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <h1 style="color:#FF5D19; margin-top: 15px;">Jeux populaires</h1>
    <div class="card-container">
        {% for game in games %}
            <div class="card" style="width: 14.1rem;">
                <img style="width:224px; border-radius: 20px 20px 0px 0px" src="//images.igdb.com/igdb/image/upload/t_1080p/{{ igdb.getGameCovers(game.getId) }}.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 style="text-align: center;" class="card-title title-orange">{{ game.getName|striptags|length > 20 ? game.getName|striptags|slice(0, 15) ~ '...' : game.getName}}</h5>
                    <p class="card-text text-secondary align-text">{{igdb.getGenres(game.getId)}}</p>
                    <div class="btn-wrapper">
                        <a style="" href="{{ path('show', {'id': game.id}) }}" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pagination-render" style="display: flex; justify-content: center; align-items: center;">
        {{ knp_pagination_render(games) }}
    </div>
{% endblock %}
