<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        {% block stylesheets %}
        <link rel="stylesheet" href='{{asset('build/app.css')}}'/>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('build/logo.png') }}" width="70" height="50"/>
            </a>
            <a class="navbar-brand" href="#">
                <img src="{{ asset('build/logo-text.png') }}" width="110" height="40"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{path('home')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path("games")}}">Jeux</a>
                </li>
                </ul>
                <ul class="navbar-nav justify-contend-end">
                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path("registration")}}">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path("login")}}">Connexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <p class="nav-link active">Bonjour {{(app.user.username)}}</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{path('userowngameslists')}}">Ownlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{path('userwishgameslists')}}">Wishlist</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{path("user_profile")}}"><img style="width:25px; height:25px" src="https://i.ibb.co/pvxsxkc/user.png"></img></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path("logout")}}">Déconnexion</a>
                    </li>
                {% endif %}
                </ul>
            </div>
            </div>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div> 
    </body>
</html>
